<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Array Cardio 1 💪</title>
    <script src="/js/cardio.js"></script>
  </head>
  <body>
    <p><em>Open The Javascript Console!</em></p>
  </body>
</html>
